<!DOCTYPE html>
<html>
<head>
    <title>Tax</title>
</head>
<body>
    <h1>Kalkulator podatku</h1>
    <span style="font-size: 20px">
        Cena: {{ price }} <br />
        Podatek: {{ tax }}% <br />
    </span>
    <br />
    <span style="font-size: 32px">
        Obliczony podatek: {{ taxValue }}<br />
        Kwota bez podatku: {{ amount }}
    </span>
</body>
</html>
