<!DOCTYPE html>
<html>
<head>
    <title>Tax</title>
</head>
<body>
    <h1>Kalkulator podatku</h1>
    <span style="font-size: 20px">
        Cena: {{ cena }} <br />
        Podatek: {{ podatek }}% <br />
    </span>
    <br />
    <span style="font-size: 32px">
        Obliczony podatek: {{ obliczony_podatek }}<br />
        Kwota bez podatku: {{ kwota_bez_podatku }}
    </span>
</body>
</html>

