<!--<h1>Kalkulator podatku</h1>
<h3>Cena: {{price}} </h3>
<h3>Podatek {{tax}} </h3>
</br>
<h2>Obliczony podatek {{taxResult}} </h2>
<h2>Kwota bez podatku {{taxFree}} </h2> --!>


<h3>Wartość 1 : {{var1}} </h3>
<h3>Wartość 2 :   {{var2}} </h3>
<h3>Wynik dzielenia : {{result}} </h3>


