<html>
  <body>
    
   <h1>Witaj {{user.name}}</h1>
    <h2>Pogoda w {{user.address.city}}, {{user.address.street}}: </h2>
   <ul>
   <li>Temperatura: {{temp}} stopni C</li>
   <li>Ciśnienie: {{weather.pressure}} hPa</li>
   <li>Wilgotność: {{weather.humidity}}%</li>
   </ul>
  </body>
</html>