<h1>Pogoda dla <span style="color:red;">{{name}}</span></h1>
<p><strong>e-mail:</strong> {{email}} </p>
<p><strong>Temperatura:</strong> {{weather.temp}} </p>
<p><strong>Siła wiatru:</strong> {{weather.windSpeed}} </p>